// Mobile First
.navbar {
  background-color: $clr-primary;
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: rem(16px) rem(20px);

  &-logo {
    color: $clr-white;
  }

  &-menu-icon {
    font-size: rem(24px);
    color: $clr-white;
  }
  
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    right: rem(4px);
    top: rem(60px);
    padding: rem(12px);
    text-align: center;
    gap: rem(8px);
    background-color: $clr-background;
    border-radius: rem(8px);

    &.open {
      display: flex;
    }

    a {
      font-weight: 500;

      &.active {
        font-weight: bold;
      }
    }

    .navbar-login {
      margin-top: rem(8px);

      a {
        padding: rem(8px) rem(16px);
        border: rem(1px) solid $clr-primary;
        border-radius: rem(8px);
        color: $clr-primary;
        font-weight: bold;
      }
    }
  }

  @media (min-width: 768px) {
    &-menu-icon {
      display: none;
    }
    
    .navbar-links {
      background: none;
      display: flex;
      flex-direction: row;
      color: $clr-white;
      position: static;
      gap: rem(20px);
      
      :hover {
        font-weight: bold;
      }
      
      .navbar-login {
        margin-top: 0;
        
        a {
          border: rem(1px) solid $clr-white;
          color: $clr-white;
          font-weight: bold;
        }
      }
    }
  }
}
