.user-preview {
  display: flex;
  flex-direction: column;
  padding: rem(16px);
  border: rem(1px) solid $clr-grey;
  border-radius: rem(8px);

  .user-info {
    display: flex;
    flex-direction: column;
    gap: rem(4px);

    p {
      color: $clr-grey;
      font-size: rem($common-font-size-item);

      &:first-child {
        font-weight: bold;
        color: $clr-primary;
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: rem(8px);
    margin-top: rem(12px);

    .edit-button,
    .delete-button {
      display: flex;
      align-items: center;
      gap: rem(4px);
      padding: rem(6px) rem(12px);
      border-radius: rem(4px);
      color: $clr-white;
      font-size: rem($common-font-size-button);
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .edit-button {
      background-color: $clr-primary;

      &:hover {
        background-color: $clr-hover-primary;
      }
    }

    .delete-button {
      background-color: $clr-red-btn;

      &:hover {
        background-color: darken($clr-red-btn, 10%);
      }
    }
  }

  @media (min-width: 768px) {
    .user-info p {
      font-size: rem($common-font-size-item-tablet);
    }

    .button-group .edit-button,
    .button-group .delete-button {
      font-size: rem($common-font-size-button-tablet);
    }
  }

  @media (min-width: 1024px) {
    .user-info p {
      font-size: rem($common-font-size-item-desktop);
    }

    .button-group .edit-button,
    .button-group .delete-button {
      font-size: rem($common-font-size-button-desktop);
    }
  }
}
