// Colors
$clr-background: #f5f5f5;
$clr-primary: #007bff;
$clr-hover-primary: #0069d9;
$clr-text: #333;
$clr-white: #fff;
$clr-grey: #555;
$clr-green-btn: #4caf50;
$clr-red-btn: #f44336;

// Font sizes for Home section overview
$home-font-size-h1: 32px;
$home-font-size-h1-tablet: 45px;
$home-font-size-h1-desktop: 60px;

$home-sub-heading: 18px;
$home-sub-heading-tablet: 22px;
$home-sub-heading-desktop: 26px;

$home-span-size: 20px;
$home-span-size-tablet: 26px;
$home-span-size-desktop: 32px;

$home-p-size: 16px;
$home-p-size-tablet: 20px;
$home-p-size-desktop: 22px;

$home-link-font-size: 18px;
$home-link-font-size-tablet: 20px;
$home-link-font-size-desktop: 20px;

// Font sizes for Home section system
$system-font-size-h1: 24px;
$system-font-size-h1-tablet: 28px;
$system-font-size-h1-desktop: 42px;

$system-font-size-p: 16px;
$system-font-size-p-tablet: 18px;
$system-font-size-p-desktop: 24px;

// Font sizes for common components across User, Coupon, and Report Management



// Headings

$common-font-size-h1: 32px;
$common-font-size-h1-tablet: 45px;
$common-font-size-h1-desktop: 60px;

$common-font-size-h2: 24px;
$common-font-size-h2-tablet: 28px;
$common-font-size-h2-desktop: 32px;

// Buttons
$common-font-size-button: 16px;
$common-font-size-button-tablet: 18px;
$common-font-size-button-desktop: 20px;

// Labels
$common-font-size-label: 14px;
$common-font-size-label-tablet: 16px;
$common-font-size-label-desktop: 18px;

// Input fields and codes (e.g., User ID, Coupon Code)
$common-font-size-input: 16px;
$common-font-size-input-tablet: 18px;
$common-font-size-input-desktop: 20px;

// Item text (e.g., Report items, additional text descriptions)
$common-font-size-item: 16px;
$common-font-size-item-tablet: 18px;
$common-font-size-item-desktop: 20px;

// Small descriptions or metadata
$common-font-size-small: 14px;
$common-font-size-small-tablet: 16px;
$common-font-size-small-desktop: 18px;
