.coupon-input {
  margin-top: rem(20px);

  .coupon-title {
    margin-bottom: rem(8px);
    color: $clr-text;
  }

  .coupon-container {
    display: flex;
    gap: rem(8px);
  }

  .coupon-code-input {
    flex: 1;
    padding: rem(10px);
    background-color: $clr-background;
    border: rem(1px) solid $clr-primary;
    border-radius: rem(4px);

    &:focus {
      outline: none;
    }
  }

  .apply-button {
    padding: rem(10px) rem(20px);
    background-color: $clr-primary;
    color: $clr-white;
    font-weight: bold;

    border-radius: rem(5px);

    transition: background-color 0.3s;

    &:hover {
      background-color: $clr-hover-primary;
    }
  }
}
