.coupon-preview {
  position: relative;
  border: rem(1px) solid $clr-background;
  border-radius: rem(8px);
  padding: rem(16px);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 rem(4px) rem(8px) rgba(0, 0, 0, 0.2);
  }

  .coupon-title {
    font-size: rem(18px);
    color: $clr-primary;
    font-weight: bold;
    margin-bottom: rem(8px);
  }

  .coupon-code {
    font-weight: 500;
    background-color: $clr-background;
    padding: rem(8px);
    border-radius: rem(4px);
    margin-bottom: rem(12px);
  }

  .copy-button {
    padding: rem(8px) rem(16px);

    border-radius: rem(4px);
    background-color: $clr-primary;
    color: $clr-white;
    font-weight: bold;
    
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $clr-hover-primary;
    }
  }

  .admin-info {
    margin-top: rem(16px);
    padding: rem(12px);
    background-color: $clr-background;
    border-radius: rem(8px);
    border: rem(1px) solid $clr-hover;

    .coupon-description,
    .coupon-max-uses,
    .coupon-expiry,
    .coupon-stackable {
      font-size: rem(14px);
      color: $clr-text;
    }
  }

  .edit-button {
    position: absolute;
    top: rem(8px);
    right: rem(8px);
    color: $clr-primary;

    border-radius: 50%;
    width: rem(22px);
    height: rem(22px);
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: color 0.3s ease, transform 0.2s ease;

    &:hover {
      color: $clr-hover-primary;
      transform: scale(1.2);
    }
  }
}
