.order-summary {
  max-width: rem(350px);
  margin: rem(20px) auto;
  padding: rem(20px);
  border: rem(1px) solid $clr-primary;
  border-radius: rem(10px);
  background-color: $clr-white;

  h2 {
    font-size: rem($common-font-size-h2);
    margin-bottom: rem(20px);
    color: $clr-primary;
  }

  .summary-item {
    display: flex;
    justify-content: space-between;
    padding: rem(10px) 0;
    color: $clr-text;

    &:not(:last-child) {
      border-bottom: rem(1px) solid lighten($clr-grey, 40%);
    }

    p {
      font-weight: 500;
      font-size: rem($common-font-size-item);
    }

    span {
      font-weight: bold;
      color: $clr-primary;
      font-size: rem($common-font-size-item);
    }
  }
}
